%dl.playlist-track
  %dt Track
  %dd
    %a{:href => "/track/#{playlist_track.track.id}/"}
      = playlist_track.track.name
  %dt Artists
  - playlist_track.artists.each do |pta|
    %dd
      %a{:href => "/artist/#{pta.id}/"}= pta.name
  %dt Album
  %dd
    %a{:href => "/album/#{playlist_track.album.id}/"}
      = playlist_track.album.name
  - if playlist_track.composer.name
    %dt Composer
    %dd
      %a{:href => "/composer/#{playlist_track.composer.id}/"}
        = playlist_track.composer.name
  %dt Episode
  %dd
    %a{:href => "/episode/#{playlist_track.episode.slug}/"}
      = playlist_track.episode.date
