!!!
%html
  %head
    %title Late Junction playlists
  %body
    %h1 Late Junction playlists
    %ol
      - @episodes.each do |episode|
        %li
          %a{:href => "/episodes/#{episode.slug}/"}><
            #{episode.id} - #{episode.date} - #{episode.presenter.name}
          \: #{episode.playlist_tracks.length}
