!!!
%html
  %head
    %title= @page_title.map {|x| x.first}.join(' ')
    %link{:href => r('/ext/style.css'), :rel => 'stylesheet',
          :type => 'text/css'}
    %link{:href => r('/ext/app-icon.png'), :rel => 'apple-touch-icon'}
  %body
    %h1
      - @page_title.each do |segment|
        - if segment.respond_to?(:last)
          %a{:href => segment[1], :title => segment[2]}= segment.first
        - else
          = segment
    %nav
      %ul
        - (@menu || menu).each do |segment|
          %li
            - if segment.length > 1
              %a{:href => segment[1], :title => segment[2]}= segment[0]
            - else
              = segment[0]
    = yield
    %footer#byline
      By
      %a{:href => 'http://sean.mcgivern.me.uk/'} Sean McGivern
